<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="add_qualifications">
        <classes>
            <class name="test.Qualifications">
                    <methods>
                        <include name="addQualificationsWithJsonData"></include>
                    </methods>
            </class>
        </classes>
    </test>
</suite>